# Variables de entorno para desarrollo local
# Copia este archivo como .env.local

# API Backend (desarrollo)
PUBLIC_API_URL=http://localhost:3001/api

# Analytics
PUBLIC_CLARITY_ID=
PUBLIC_GA_ID=G-83P66QQV7Z 