# Configuración de la API del Backend
PUBLIC_API_URL=http://localhost:3001/api

# Configuración de desarrollo
NODE_ENV=development

# Configuración de producción (cambiar en producción)
# PUBLIC_API_URL=https://backend.com/api
# NODE_ENV=production

# Analytics (configurar con tus IDs reales)
PUBLIC_CLARITY_ID=tu_clarity_project_id
PUBLIC_GA_ID=G-83P66QQV7Z 